CodigoFonte/Web/Web References/WebService/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CadastrarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastrarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastrarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EfetuarLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EfetuarLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EfetuarLoginResult" type="tns:Usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Usu_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Usu_nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usu_email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usu_login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usu_senha" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Usu_status" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CadastrarConta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="saldo" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="descricao" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fk_usu_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastrarContaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastrarContaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastrarCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoria" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastrarCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastrarCategoriaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastrarReceita">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idConta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="valor" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastrarReceitaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastrarReceitaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarContas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarContasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarContasResult" type="tns:ArrayOfConta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfConta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Conta" nillable="true" type="tns:Conta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Conta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Cont_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Cont_nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cont_saldo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cont_descricao" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fk_usu_id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AlterarSenha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="senhaAntiga" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senhaNova" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarSenhaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AlterarSenhaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarCategorias">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarCategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarCategoriasResult" type="tns:ArrayOfCategoria" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCategoria">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Categoria" nillable="true" type="tns:Categoria" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Categoria">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Cat_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Cat_nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fk_usu_id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CadastrarTransacao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tipo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="conta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="categoria" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="valor" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="descricao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastrarTransacaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastrarTransacaoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarExtrato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ano" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="conta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarExtratoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarExtratoResult" type="tns:ArrayOfExtrato" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfExtrato">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Extrato" nillable="true" type="tns:Extrato" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Extrato">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Categoria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExcluirTransacao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="transacao" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirTransacaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExcluirTransacaoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExibirSaldoConta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExibirSaldoContaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExibirSaldoContaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarSenha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarSenhaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarSenhaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaldoGeralMesJson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ano" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaldoGeralMesJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaldoGeralMesJsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustoGeralMesJson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ano" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustoGeralMesJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustoGeralMesJsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CadastrarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CadastrarUsuario" />
  </wsdl:message>
  <wsdl:message name="CadastrarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CadastrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="EfetuarLoginSoapIn">
    <wsdl:part name="parameters" element="tns:EfetuarLogin" />
  </wsdl:message>
  <wsdl:message name="EfetuarLoginSoapOut">
    <wsdl:part name="parameters" element="tns:EfetuarLoginResponse" />
  </wsdl:message>
  <wsdl:message name="CadastrarContaSoapIn">
    <wsdl:part name="parameters" element="tns:CadastrarConta" />
  </wsdl:message>
  <wsdl:message name="CadastrarContaSoapOut">
    <wsdl:part name="parameters" element="tns:CadastrarContaResponse" />
  </wsdl:message>
  <wsdl:message name="CadastrarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:CadastrarCategoria" />
  </wsdl:message>
  <wsdl:message name="CadastrarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:CadastrarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="CadastrarReceitaSoapIn">
    <wsdl:part name="parameters" element="tns:CadastrarReceita" />
  </wsdl:message>
  <wsdl:message name="CadastrarReceitaSoapOut">
    <wsdl:part name="parameters" element="tns:CadastrarReceitaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarContasSoapIn">
    <wsdl:part name="parameters" element="tns:ListarContas" />
  </wsdl:message>
  <wsdl:message name="ListarContasSoapOut">
    <wsdl:part name="parameters" element="tns:ListarContasResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarSenhaSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarSenha" />
  </wsdl:message>
  <wsdl:message name="AlterarSenhaSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarSenhaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarCategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:ListarCategorias" />
  </wsdl:message>
  <wsdl:message name="ListarCategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:ListarCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="CadastrarTransacaoSoapIn">
    <wsdl:part name="parameters" element="tns:CadastrarTransacao" />
  </wsdl:message>
  <wsdl:message name="CadastrarTransacaoSoapOut">
    <wsdl:part name="parameters" element="tns:CadastrarTransacaoResponse" />
  </wsdl:message>
  <wsdl:message name="ListarExtratoSoapIn">
    <wsdl:part name="parameters" element="tns:ListarExtrato" />
  </wsdl:message>
  <wsdl:message name="ListarExtratoSoapOut">
    <wsdl:part name="parameters" element="tns:ListarExtratoResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirTransacaoSoapIn">
    <wsdl:part name="parameters" element="tns:ExcluirTransacao" />
  </wsdl:message>
  <wsdl:message name="ExcluirTransacaoSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirTransacaoResponse" />
  </wsdl:message>
  <wsdl:message name="ExibirSaldoContaSoapIn">
    <wsdl:part name="parameters" element="tns:ExibirSaldoConta" />
  </wsdl:message>
  <wsdl:message name="ExibirSaldoContaSoapOut">
    <wsdl:part name="parameters" element="tns:ExibirSaldoContaResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarSenhaSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarSenha" />
  </wsdl:message>
  <wsdl:message name="RecuperarSenhaSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarSenhaResponse" />
  </wsdl:message>
  <wsdl:message name="SaldoGeralMesJsonSoapIn">
    <wsdl:part name="parameters" element="tns:SaldoGeralMesJson" />
  </wsdl:message>
  <wsdl:message name="SaldoGeralMesJsonSoapOut">
    <wsdl:part name="parameters" element="tns:SaldoGeralMesJsonResponse" />
  </wsdl:message>
  <wsdl:message name="CustoGeralMesJsonSoapIn">
    <wsdl:part name="parameters" element="tns:CustoGeralMesJson" />
  </wsdl:message>
  <wsdl:message name="CustoGeralMesJsonSoapOut">
    <wsdl:part name="parameters" element="tns:CustoGeralMesJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="CadastrarUsuario">
      <wsdl:input message="tns:CadastrarUsuarioSoapIn" />
      <wsdl:output message="tns:CadastrarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EfetuarLogin">
      <wsdl:input message="tns:EfetuarLoginSoapIn" />
      <wsdl:output message="tns:EfetuarLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarConta">
      <wsdl:input message="tns:CadastrarContaSoapIn" />
      <wsdl:output message="tns:CadastrarContaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarCategoria">
      <wsdl:input message="tns:CadastrarCategoriaSoapIn" />
      <wsdl:output message="tns:CadastrarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarReceita">
      <wsdl:input message="tns:CadastrarReceitaSoapIn" />
      <wsdl:output message="tns:CadastrarReceitaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarContas">
      <wsdl:input message="tns:ListarContasSoapIn" />
      <wsdl:output message="tns:ListarContasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarSenha">
      <wsdl:input message="tns:AlterarSenhaSoapIn" />
      <wsdl:output message="tns:AlterarSenhaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarCategorias">
      <wsdl:input message="tns:ListarCategoriasSoapIn" />
      <wsdl:output message="tns:ListarCategoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarTransacao">
      <wsdl:input message="tns:CadastrarTransacaoSoapIn" />
      <wsdl:output message="tns:CadastrarTransacaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarExtrato">
      <wsdl:input message="tns:ListarExtratoSoapIn" />
      <wsdl:output message="tns:ListarExtratoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirTransacao">
      <wsdl:input message="tns:ExcluirTransacaoSoapIn" />
      <wsdl:output message="tns:ExcluirTransacaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExibirSaldoConta">
      <wsdl:input message="tns:ExibirSaldoContaSoapIn" />
      <wsdl:output message="tns:ExibirSaldoContaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarSenha">
      <wsdl:input message="tns:RecuperarSenhaSoapIn" />
      <wsdl:output message="tns:RecuperarSenhaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaldoGeralMesJson">
      <wsdl:input message="tns:SaldoGeralMesJsonSoapIn" />
      <wsdl:output message="tns:SaldoGeralMesJsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustoGeralMesJson">
      <wsdl:input message="tns:CustoGeralMesJsonSoapIn" />
      <wsdl:output message="tns:CustoGeralMesJsonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadastrarUsuario">
      <soap:operation soapAction="http://tempuri.org/CadastrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EfetuarLogin">
      <soap:operation soapAction="http://tempuri.org/EfetuarLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarConta">
      <soap:operation soapAction="http://tempuri.org/CadastrarConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarCategoria">
      <soap:operation soapAction="http://tempuri.org/CadastrarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarReceita">
      <soap:operation soapAction="http://tempuri.org/CadastrarReceita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarContas">
      <soap:operation soapAction="http://tempuri.org/ListarContas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarSenha">
      <soap:operation soapAction="http://tempuri.org/AlterarSenha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCategorias">
      <soap:operation soapAction="http://tempuri.org/ListarCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarTransacao">
      <soap:operation soapAction="http://tempuri.org/CadastrarTransacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarExtrato">
      <soap:operation soapAction="http://tempuri.org/ListarExtrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirTransacao">
      <soap:operation soapAction="http://tempuri.org/ExcluirTransacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExibirSaldoConta">
      <soap:operation soapAction="http://tempuri.org/ExibirSaldoConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarSenha">
      <soap:operation soapAction="http://tempuri.org/RecuperarSenha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaldoGeralMesJson">
      <soap:operation soapAction="http://tempuri.org/SaldoGeralMesJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustoGeralMesJson">
      <soap:operation soapAction="http://tempuri.org/CustoGeralMesJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadastrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/CadastrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EfetuarLogin">
      <soap12:operation soapAction="http://tempuri.org/EfetuarLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarConta">
      <soap12:operation soapAction="http://tempuri.org/CadastrarConta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarCategoria">
      <soap12:operation soapAction="http://tempuri.org/CadastrarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarReceita">
      <soap12:operation soapAction="http://tempuri.org/CadastrarReceita" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarContas">
      <soap12:operation soapAction="http://tempuri.org/ListarContas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarSenha">
      <soap12:operation soapAction="http://tempuri.org/AlterarSenha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCategorias">
      <soap12:operation soapAction="http://tempuri.org/ListarCategorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarTransacao">
      <soap12:operation soapAction="http://tempuri.org/CadastrarTransacao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarExtrato">
      <soap12:operation soapAction="http://tempuri.org/ListarExtrato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirTransacao">
      <soap12:operation soapAction="http://tempuri.org/ExcluirTransacao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExibirSaldoConta">
      <soap12:operation soapAction="http://tempuri.org/ExibirSaldoConta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarSenha">
      <soap12:operation soapAction="http://tempuri.org/RecuperarSenha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaldoGeralMesJson">
      <soap12:operation soapAction="http://tempuri.org/SaldoGeralMesJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustoGeralMesJson">
      <soap12:operation soapAction="http://tempuri.org/CustoGeralMesJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:54472/WebService/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:54472/WebService/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>